<div class="center-login-box">
  <h2 class="registration-text">Combination_musicに新規登録</h2>
  <div class="link-before-login-google">
    <%= link_to user_google_omniauth_authorize_path, class: "google-link" do %>
      <div class="google-login-box">
        <div class="google-link-box-main">
          <%= image_tag "g-logo.png", class: "g-logo-png" %>
          <h3 class="google-registration-text">Googleで新規登録</h3>
        </div>
      </div>
    <% end %>
  </div>
</div>