$('.posts-box').append("<div id='post-edit-box-<%= @post.id %>'><%= j(render partial: 'post', locals: {post: @post}) %></div>");
$get_id('post_title').value = '';
$get_id('audio-file_field').value = '';
$get_id('file_name').textContent = '';