// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-form-edit-box{
	display: none;
}
.form-box{
	display: flex;
}
.audio-form-show-box{
	margin-top: 20px;
	margin-bottom: 20px;
}
.account-delete-box{
	text-align: center;
	margin-top: 20px;
}
.actions-button{
	margin-top: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.account-delete-button{
	font-size: 15px;
}
.update-user-button{
	font-size: 15px;
	padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    box-shadow: 2px 2px 3px #dddddd;
    background-color: #4299C5;
}
.name-text{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
}
.name_field{
	margin: 0 auto;
	max-width: 500px;
	padding-top: 50px;
}
.file_name_user{
	width: 100%;
	height: 30px;
	font-size: 18px;
}
.google-login-box{
}
.roop-box-post{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.file-button-demo.file-go-button-post{
}

.google-link{
	text-decoration: none;
}
.google-link-box-main{
	display: flex;

}
.login-all-link{
	text-decoration: none;
	color: #207EB2;
}
.login-all-link:hover{
	text-decoration: underline;
}
.google-link:hover{
	.google-link-box-main{
		background-color: #fefefe;
	}
}
.link-before-login-google{

	border: 1px solid #000000;
	width: 50%;
	padding: 10px;
	border-radius: 10px;
}


.g-logo-png{
	width: 40px;
	height: 40px;
}
.center-login-box{
	margin: 0 auto;
	max-width: 800px;
	padding-left: 40px;
	padding-top: 40px;
}
.registration-text{
	font-size: 25px;
	padding-bottom: 30px;
}
.google-registration-text{
	font-size: 20px;
	color: #000000;
	padding-top: 10px;
	padding-left: 5px;
}
p .post-title-form{
	width: 90%;
	max-width: 100%;
	margin-left: 15px;
}
.release_the_login{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}
.play-image{
	padding-top: 2px;
	padding-left: 5px;
}
.new-form{
	margin: 20px;
	display: flex;
	justify-content: center;
}
#pause-audios-button{
	display: flex;
}
.error_message{
	width: 100%;
	max-width: 100%;
}
#audio-form-show{
	height: 30px;
	margin-bottom: 5px;
}
.combination_music_start_text{
	font-size: 16px;
}
.center-flex-box{
	display: flex;
	justify-content: center;
}
.post-submit{
	font-weight: bold;
	font-family: "Noto Sans JP", sans-serif;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 5px;
	padding-top: 3px;
	text-align: center;
	font-size: 13px;
	background-color: #078CFF;
	color: #ffffff;
	border-radius: 5px;
    box-shadow: 1px 1px 2px 0 #46494B;

}
#audio-show-post{
	height: 20px;
}
.post-box-post-submit-p .post-submit{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.post-submit:hover{
    transition: background-color 0.3s ease;
    background-color: #4683B7;
}
#play-audios-button{
	margin-right: 20px;
	display: flex;
}
.imagine-music-text{
	height: 339.98px;
	width: 100%;
	animation-name: anim_go;
	animation-duration: 1.5s;
}
.more-explanation-text{
	font-size: 23px;
	margin-top: 7px;
	margin-bottom: 10px;
}
.combination_text{
	color: #ffffff;
	text-decoration: none;
}
.more-explanation-text{
	display: flex;
}
.combination_music_top_box{
	width: 100%;
}
.explabox{
	padding-left: 20px;
	margin: 0 auto;
	max-width: 800px;
	padding-right: 30px;
	margin-top: 20px;
}
.more-explanation-text-p{
	display: flex;
}
.combination-explanation-2-box{
	margin-top: 20px;
}
.tag-box{
	background-color: #eeeeee;
	width: 10px;
	height: 30px;
	margin-right: 10px; 
}
.combination_png{
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.combination-explanation-1-box{
}
.image-box-back-combination{
	max-width: 800px;
}
.back-image-combination{
	background-image: url("back-combination.png");
	background-size: cover;
	width: 100%;
	height: 400px;
}
.back-image-combination:before{

}
.more-explanation-text-p{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}
.combination_link{
	color: #EFEFEF;
	text-decoration: none;
}
.top-image{
	background-image: url("piano.jpg");
	width: 100%;
	background-size: cover;
	height: 700px;
	position: relative;
}	
.top-image::before{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.5;
	content: ' ';
}
#more-link-please{
	position: relative;
	transition: 0.3s;
}

#more-link-please::after{
	position: absolute;
	bottom: -5px;
	left: 0;
	content: '';
	width: 0;
	height: 2px;
	background-color: #ffffff;
	transition: 0.3s;
}

#more-link-please:hover::after{
	width: 100%;
}
.more-link{
	text-decoration: none;
	border: 1px solid #ffffff;
	padding: 5px;
	border-radius: 5px;
	background-color: #eeeeee;
}


.more-explanation-box{
	display: flex;
	justify-content: center;
	padding-top: 30px;
}
.explanation_execute{
	color: #ffffff;
	position: relative;
	font-weight: bold;
	
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
}
.imagine-music-text{
	position: relative;
	color: #ffffff;
	z-index: 2;
	text-align: center;
	font-size: 40px;
	line-height: 350px;

}
.combination_music_start_button{
	border: 1px solid #000;
	display: flex;
	text-align: center;
	width: 150px;
	padding: 20px;
	background-color: #656565;
    box-shadow: 0.5px 0.5px 2px 0 #46494B;
    border-radius: 5px;

}

.combination_link{
  position: relative;
  display: inline-block;
  text-align: center;
}
.combination_link::before{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  content: '';
  background: #000000;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.combination_music_start_text{
	color: #ffffff;
	z-index: 2;
}
.combination_music_start_box{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.combination_music_start_text{
position: relative;
transition: 0.3s;
}
.combination_link:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);

}
.error-box{
	word-break: break-all;
	width: 100%;
}
.buttons-box-play-pause{
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.post-box{
	border: 1px solid #000000;
	padding: 10px;
	width: 300px;
	margin: 20px;
	height: 300px;
	border-radius: 5px;
}
.error_message{
	color: tomato;
	margin-top: 5px;
	margin-bottom: 5px; 
}
input[type="submit"]{
	cursor: pointer;
}
.sound-mode{
	margin-bottom: 20px;
	margin-top: 10px;
}
.delete-box{
	display: flex;
}
.pause-button{
	display: none;
}
.flex-box{
	display: flex;
}
.all-minute-audio-reset-button{
	margin-left: 20px;
}
.edit-button{
	padding: 3px;
	border-radius: 5px;
	color: #ffffff;
	font-weight: bold;
	display: flex;
	box-shadow: 2px 2px 3px #dddddd;
	background-color: #4299C5;
}
.edit-button:hover{
	transition: 0.3s ease background-color;
	background-color: #4387A9;	
}
#delete-button{
	padding: 3px;
	border-radius: 5px;
	background-color: #F23333;
	color: #ffffff;
	font-weight: bold;
	display: flex;
	box-shadow: 2px 2px 3px #dddddd;
}
#delete-button:hover{
	transition: 0.3s ease background-color;
	background-color: #D92828;
}
.edit-and-delete-button:hover{
	transition: 0.3s ease background-color;
	background-color: #D92828;
}
.title-form{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	height: 25px;
	font-family: "游ゴシック", sans-serif;
	font-weight: bold;
}
.form-post-new{
	width: 300px;
}
.sounds-form-box{
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 15px;
}
.space-box{
	margin-top: 5px;
}
.files-box{
	margin-left: 15px;
}
.post-audio{
	margin-bottom: 5px;
	margin-left: 15px;
	font-size: 14px;
}
.post-contents-box{
	text-align: center;
}
.audios-box{

}
.button-audios{
	border-radius: 15px 0 0 15px;
}
.button-audios:hover{
	transition: 0.3s background-color ease;
	background-color: #dddddd;
}
.button-audios:focus{
	outline: none;
}
#file_name{
	margin-top: 10px;
}
button:hover{
	cursor: pointer;
}
.numbers{
	border-radius:0 15px 15px 0;
	width: 100%;
}
.numbers:focus{
	outline: none;
}
.audio-go-image{
}
.range-box{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}
.post-form-errors-new{
	margin-top: 10px;
	color: #F86156;
}
.space-box{
	display: flex;
}
.post-title{
	margin-bottom: 10px;
	word-break: break-all;
	max-width: 100%;
}
.posts-box{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 20px;
}

.post_audio_form_edit{
	visibility: hidden;
	height: 0;
	width: 0;
}
.kinds-edit-buttons-box{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	justify-content: center;
}
.kinds-edit-buttons-box a{
	text-decoration: none;
}
.kinds-edit-buttons-box button{
	margin-right: 20px;
}
#file_button{
	margin-right: 20px;
}
.file-choose-button{
	visibility: hidden;
	height: 0;
	width: 0;
}
.form-post-box{
	width: 100%;
	max-width: 100%;
}
.file-button-demo.post-file-demo{
}
.file-button-demo{
	border: 1px dashed #000000;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 15px;
	display: flex;
	width: 100%;
	padding: 5px;
	justify-content: center;
}
.file-choose-text{
	padding-top: 5px;
}
.field-box-post{
	width: 100%;
	max-width: 100%;
}
.file-button-demo:hover{
}
.post-edit-box{
	margin-top: 10px;
	margin-bottom: 10px;
}
.range-box-volume-whole{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.border-bottom{
	border-bottom: 1px solid #000000;

}
.post-form-sound-box{
	display: flex;
	padding-top: 10px;
	width: 250px;
}
.files-box{
	display: flex;
	padding-right: 30px;
}
.file-button-demo{
}
.file-name-box{
	width: 100%;
	max-width: 100%;
	word-break: break-all;
}
#file_name{
	text-align: center;
	/*margin-top: 20px;*/
	margin-bottom: 20px;
	word-break: break-all;
}
.post-audio-name-box{
	width: 100%;
	max-width: 100%;
	word-break: break-all;
	margin-bottom: 10px;
	margin-top: 10px;
}
.index-posts-buttons{
	font-size: 14px;
	background-color: #4DA96F;
	color: #ffffff;
	font-weight: bold;
	border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 0 #46494B;
    outline: none;

}
.index-posts-buttons:hover{
	background-color: #3B8757;
	transition: 0.3s ease background-color;
}
@keyframes anim_go{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes move_bottom_anim{
	0%{
		border-width: 0;
	}
	100%{
		border-width: 100%;
	}
}
@media screen and (max-width: 960px){
	.title-form{
	 	width: 90%;
	}
}

@media screen and (max-width: 480px){
	.posts-box #post-edit-box{
		margin-bottom: 50px;
	}
	.center-login-box{
		margin: 0;
		width: 100%;
		padding: 0;
	}
	.registration-text{
		padding: 20px;
		font-size: 20px;
	}
	.google-login-box{

	}
	.google-link-box-main{
	}
	.link-before-login-google{
		justify-content: center;
		display: flex;
		width: 90%;
		text-align: center;
		margin: 10px;
		
	}
	.nologin-form{
		display: block;
	}
	.audios-box{
		width: 100%;
	}
	.index-posts-buttons{
		font-size: 12px;
	}
	.post-submit{
		margin: 0 auto;
		max-width: 100px;
		text-align: center;
		display: flex;
		justify-content: center;
	}
	.post-form-sound-box{
	}
	.file-button-form-post-new-go{
		font-size: 12px;
	}
	.files-box{
	}
	.explabox{
		padding-right: 20px;

	}
	.more-explanation-text-p{
		font-size: 13px;
	}
	.back-image-combination{
		height: 200px;
	}
	.imagine-music-text{
		font-size: 25px;
	}
	.error-box{
		width: 100%;
		max-width: 100%;
	}
	.more-explanation-text{
		font-size: 18px;
	}
	.new-form{
		width: 100%;
		margin: 0 0 20px 0;
		justify-content: center;
	}
	.post-box{
		margin: 0;
	}
	.buttons-box-play-pause{
		justify-content: center;
	}
}